.btn {
  margin-top: 1.6rem;
  padding: 1.6rem 3.2rem;
  font-size: clamp(1.6rem, 2.5vw, 2rem);
  font-weight: 500;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn-primary {
  background-color: $primary-color;
  color: white;
}
