nav {
  .container {
    padding: 1rem 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .logo {
    padding: 1rem 0;
  }

  ul {
    padding: 1rem 0;
    list-style: none;
    display: flex;
    align-items: center;

    > *:not(:last-child) {
      margin-right: 1.6rem;
    }
  }
  li {
    font-weight: 300;
  }

  li.auth-btn {
    cursor: pointer;
  }
}
